* {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

:root{
    --main-color: #470f4d;
    --main-text-color: #FFFFFF;
    --title-text-color: #d75f81;
    --border-color: #999999;
    --bio-bg-color: #09101a;
    --bio-border-color: ##293544;
    --about-bg-color: #111821;
}

#container{
    display: flex;
    flex-direction: row;
    color: var(--main-text-color);
}

.highlight{
    color: var(--title-text-color);
 }
 
 .devicon{
     color: var(--main-text-color);
 }
 
 ion-icon{
     color: var(--main-text-color);
     pointer-events: none;
 }

/*Bio*/

#bio{
    flex: 1 1 20%;
    min-height: 100vh;
    background-color: var(--bio-bg-color);
    text-align: center;
    padding: 30px 12px;
    border-right: 5px solid var(--bio-border-color);
}

#bio-title{
    font-size: 18px;
    margin-bottom: 15px;
    font-weight: bold;
}

#bio h2{
    margin-bottom: 25px;
}

#bio p{
    margin-bottom: 20px;
}

#bio-image{
    width: 175px;
    height: 175px;
    border-radius: 50%;
    margin: 25px 0;
}

/*Social Media*/
#social-media{
    display: flex;
    justify-content: center;
    list-style: none;
    border-bottom: 1px solid var(--border-color);
    margin-bottom: 25px;
    padding-bottom: 35px;
}

#social-media li{
    flex: 1 1 0;
    max-width: 60px;
}

#social-media li a{
    color: var(--main-color);
    font-size: 30px;
}

/*Email*/
#email{
    display: flex;
    justify-content: center;
}

#email a{
    flex: 1 1 0;
    color: var(--main-text-color);
    text-decoration: none;
}

#contato{
    padding: 20px 0;
    color: var(--title-text-color);
}

/*About*/
#content{
    flex: 1 1 80%;
    min-height: 100vh;
    background-color: var(--about-bg-color);
}

#main-about{
    padding: 30px 50px;
}

#name{
    font-size: 42px;
    margin-bottom: 15px;
}

#title{
    font-size: 26px;
    margin-bottom: 15px;
    font-weight: bold;
}

.description{
    max-width: 95%;
    margin-bottom: 10px;
    font-size: 18px;
}

/*Botao GitHub*/
#github{
    font-weight: bold;
    font-size: 16px;
    color: var(--main-text-color);
    background-color: var(--main-color);
    border: 2px solid var(--main-color);
    border-radius: 5px;
    text-decoration: none;
    transition: 0.5s;
    margin: 25px 0;
    padding: 12px;
    width: 200px;
    text-align: center;
    display: flex;
}

#github ion-icon,
#github span{
    flex: 1 1 0;
}

#github ion-icon{
    font-size: 20px;
    max-width: 20px;
    font-weight: bold;
    padding-right: 5px;
}

#github:hover{
    background-color: transparent;
}

/*Skills*/
#skills, #education{
    border-top: 1px solid var(--border-color);
    padding-top: 30px;
    margin-bottom: 40px;
    font-size: 34px;
    text-align: center;
    color: var(--title-text-color);
}

#skills-container{
    display: flex;
    flex-wrap: wrap;
    margin-top: 25px;
}

.skills-box{
    flex: 1 1 33%;
    max-width: 33%;
    margin-bottom: 55px;

}

.skills-title{
    font-size: 24px;
    margin-bottom: 25px;
    font-weight: bold;
    padding-left: 10px;
    border-left: 5px solid var(--main-color);
}

.skills-box i{
    font-size: 45px;
    margin-right: 10px;
}

/*Projects*/
#projects{
    border-bottom: 1px solid var(--border-color);
    padding-bottom: 30px;
    margin-bottom: 40px;
    font-size: 34px;
    text-align: center;
    color: var(--title-text-color);
}

#projects-container{
    display: flex;
    flex-wrap: wrap;
    margin-top: 25px;
}
.card {
    box-shadow:  0 4px 8px 2px rgba(80, 18, 117, 0.49);
    transition: 0.3s;
    width: 30%;
    padding: 30px;
    margin: 15px;
}

.card a{
    color: #FFFFFF;
}

.container-card {
    padding: 10px 15px;
    background-color: #470f4d;
    text-align: center;
}

.imagem-project{
    width: 100%;
    height: 220px;
}

/*Tooltip*/
.tooltip {
    position: relative;
    display: inline-block;
   
  }
  
.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    font-weight: bold;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    top: 100%;
    left: 50%;
    margin-left: -60px;
}
  
.tooltip:hover .tooltiptext {
    visibility: visible;
}

/*navbar*/
li {
    list-style: none;
}

a{
    text-decoration: none;
}

header{
    font-size: 16px;
    width: 100%;    
    z-index: 1;
    transition: all 0.4s ease-out;
    height: 60px;
    background-color: #090211;
}

.container{
    height: 100%;
    margin: 0 auto;
    padding: 0 60px;
    display: grid;
    grid-template-areas: 
        "esp ... nav";
    grid-template-columns: auto 1fr auto;
    align-content: center;
}
.nav-bar{
    grid-area: nav;
    display: grid;
    align-content: center;
}

.nav-bar ul{
    display: grid;
    grid-auto-flow: column;
    grid-gap: 40px;
}

.nav-bar a{
    text-transform: uppercase;
    transition: all 0.4s ease-out;
    position: relative;
}

.icon_home ion-icon{
    font-size: 20px;
    font-weight: bold;
    padding: 0px 15px;
}


.nav-bar a::before{
    content: "";
    width: 100%;
    height: 2px;
    background-color: currentColor;
    position: absolute;
    top: -10px;
    left: 0;
    transform-origin: left;
    transform: scaleX(0);
    transition: all 0.2s ease-out;
}

.nav-bar a:hover::before{
    transform: scaleX(1);
}

.nav-bar a::after{
    content: "";
    width: 100%;
    height: 2px;
    background-color: currentColor;
    position: absolute;
    bottom: -10px;
    left: 0;
    transform-origin: right;
    transform: scaleX(0);
    transition: all 0.2s ease-out;
}

.nav-bar a:hover::after{
    transform: scaleX(1);
}

.max-nav a{
    font-size: 1em;
    font-weight: 900;
    color: #d3e0e2;
}

h4{
    text-align: center;
    color: var(--title-text-color);
}

/*Mobile*/
/*Mobile*/
@media(max-width: 750px){
    .card {
        box-shadow:  0 4px 8px 2px rgba(80, 18, 117, 0.49);
        transition: 0.3s;
        width: 75%;
        padding: 30px;
        margin: 25px auto;

    }
}

@media(max-width: 450px){
    
    #container{
        flex-direction: column;
    }

    .container{
        padding: 0px 30px;
        display: grid;
        grid-template-areas: 
        "esp ... nav";
    }

    header{
        position: fixed; /* Set the navbar to fixed position */
        top: 0;

    }
    #bio{
        margin-top: 30px;
        min-height: auto;
        border-right: none;
        border-bottom: 5px solid var(--bio-border-color);
    }

    #bio p{
        max-width: 60%;
        margin: 20px auto;
    }

    #contato{
        padding: 5px 0;
    }

    #about{
        text-align: center;
        padding: 30px;
    }

    #name{
        display: none;
    }

    .description{
        margin: 10px auto;
        max-width: 100%;
        line-height: 26px;;
    }

    #github{
        margin: 30px auto;
    }

    #skills{
        padding-top: 100px;
    }

    .skills-box{
        flex: 1 1 100%;
        max-width: 100%;
        margin-bottom: 60px;
    }

    .skills-title{
        text-align: left;
    }

    .skills-box i{
        font-size: 70px;
    }

    #projects{
        padding-top: 100px;
    }

    .card {        
        width: 100%;
        padding: 30px;
        margin: 25px 15px;
    }

    #education{
       padding-top: 100px;
      
    }
          
}

